.navbar-item, .navbar-link {
    font-size: 1rem; 
    font-weight: 400; 
    color: whitesmoke;
}

.button.is-primary {
    background-color: #175ec9; 
    border-color: #175ec9; 
}


.button.is-primary:hover {
    background-color: #0056b3; /* Azul más oscuro para el hover */
    border-color: #0056b3; 
}

/* .panel {
    background-color: #0e71db;
} */

.panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.columns{
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 160px); /* Resta la altura del navbar y otros elementos */
    margin-bottom: 1.5rem; 
    column-gap: 0.75rem; /* Espacio entre columnas */
    padding: 1rem;
}

.column {
    flex: 1;
    margin: 0.5rem; /* Margen interno entre columnas */
    background-color: rgba(15, 61, 83, 0.267);
    padding: 1rem; /* Espaciado interno en las columnas */
    border-radius: 10px; /* Bordes redondeados */
}


.column-footer-item {
    color : #175ec9; 
}


.card {
    width: 100%; 
    /* padding: 0.2rem; */
    padding: 2px;
    margin-bottom: 0.75rem; /* Espacio entre tarjetas */
    background-color: #0056b3;
    border-color: #0e71db;
    border-radius: 8px; /* Bordes redondeados para mantener el estilo */
    height: auto; 
}

.clickable-card {
    cursor: pointer;
}

.clickable-card:hover {
    background-color: #004080; /* Cambia el color de fondo al pasar el ratón sobre la tarjeta */
}


.card-tag {
    background-color: #175ec9; 
    color: #6ca4db;
    border-radius: 8px; 
    font-size: 0.85rem; 
    margin: 0%;
}

.card-title {
    font-size: 0.9rem; 
    font-weight: bold; 
    margin: 0%; 
}

.modal.is-active {
    display: flex;
}



